
body{
    width: 100%;
    margin: auto;
    background-color: #E2ECEE;
    font: 14px "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    line-height:1;
    line-height: 1.5em;
}
.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    width: 25%;
    padding:  45px 45px 20px;
    margin-top: 5%;
    margin-left: 35%;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;

    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}



.mainWrap{
  margin-top: -15px;
}


nav{
  display:block;
margin-top: 0px;/*destancia menu i top*/
background:#3E4156;
}

.menu{
  display:block;}

.menu li{
  display: inline-block;
position: relative;
z-index:100;}

.menu li:first-child{
  margin-left:0;}

.menu li a {
  font-weight:600;
text-decoration:none;
padding:11px;
display:block;
color:#ffffff;
}

.menu li a:hover, .menu li:hover > a{			/*submenu*/
  color:#ffffff;
background:#9CA3DA;
}

.menu ul {
display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 43px;
left: 0px;
background: #ffffff;
}

.menu ul li {
display:block;
float: none;
background:none;
margin:0;
padding:0;
}

.menu ul li a {
  font-size:12px;
font-weight:normal;
display:block;
color:#797979;
border-left:9px solid #ffffff;
background:#ffffff;
}

.menu ul li a:hover, .menu ul li:hover > a{
background:#f0f0f0;
border-left:3px solid #9CA3DA;
color:#797979;
}

.menu li:hover > ul{
  display: block;
}
.menu ul ul {
  left: 149px;
  top: 0px;
}
