
body{
background:#ffffff url("images/bkg.jpg") no-repeat 0 0;
color:#3E4156;
font: 14px "Open Sans", Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
line-height:1;
width:100%;
margin: 0;
padding: 0;
line-height: 1.5em;
padding-top: 0px;

}
h1 {
 font-size: 2.3em;
 line-height: 1.3em;
 margin: 15px 0;
 text-align: center;
 font-weight: 300;
}


p {
 margin: 0 0 1.5em 0;
 border:4px inset #D4C8C8;
 padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    background: #F9F0F0;
}

img {
 max-width: 100%;
 float: right;
 height: auto;
}

#boton {
  background: #BDBDBD;
  border:5px inset #2E2EFE;
  text-align: center;
  background-position: center;
  position:static;
}

#main-content {  /*cuerpo*/
background: white;
border:3px inset #07fbe7;
width: 90%;
max-width: 900px;
margin: 20px auto;
box-shadow: 0 0 10px rgba(0,0,0,.1);
padding: 40px;
}

#main-header {
 background: #A6A0A0;
 color: black;
 height: 50px;

 width: 100%;
 left: 0;
 top: 0;
 position: fixed;
}

p{padding-bottom:11px;}
p,div, span{
 line-height:1.5em;
}

.cajamenu{
 width:100%;
 margin:0 auto;
}


nav{
 display:block;
margin-top: -15px;
background:#3E4156;
}

.menu{
 display:block;}

.menu li{
 display: inline-block;
position: relative;
z-index:100;
}

.menu li:first-child{
 margin-left:0;
}

.menu li a {
 font-weight:600;
text-decoration:none;
padding:11px;
display:block;
color:#ffffff;
}

.menu li a:hover, .menu li:hover > a{
  color:#ffffff;
background:#9CA3DA;
}

.menu ul {
  display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 43px;
left: 0px;
background: #ffffff;
}

.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
.menu ul li a {
  font-size:12px;
font-weight:normal;
display:block;
color:#797979;
border-left:3px
solid #ffffff;
background:#ffffff;
}

.menu ul li a:hover, .menu ul li:hover > a{
background:#f0f0f0;
border-left:3px
solid #9CA3DA;
color:#797979;
}

.menu li:hover > ul{
  display: block;}
.menu ul ul {
 left: 149px;
 top: 0px;
}

/*fin menu*/

.title{
 color: #E7CDCD;

 font-family: Helvetica, Arial, sans-serif;
position: static;
 font-size: 4.5em;
font-style: italic;
 text-align:center;
padding-top: 0;
background: url(http://www.publicdomainpictures.net/pictures/110000/nahled/navy-blue-background.jpg); /* Fondo  */

}

.title_two{
 color: black;

 font-family: Helvetica, Arial, sans-serif;
position: static;
 font-size: 2em;
font-style: italic;
line-height: 1.3em;
text-decoration: underline;

}

#panell {
 display: none;
}

#letra {
  font-size: 1.2em;

}

 .titulo{
 font-size: 2.3em;
 line-height: 1.3em;
 margin: 15px 0;
 text-align: center;
 font-weight: 300;
}
