
   body{
   background:#ffffff url("images/bkg.jpg") no-repeat 0 0;
   color:#3E4156;
   font: 14px "Open Sans", Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   line-height:1;
   width:100%;
   margin: 0;
   padding: 0;
   line-height: 1.5em;
   }

   h1 {
     font-size: 2.3em;
     line-height: 1.3em;
     margin: 15px 0;
     text-align: center;
     font-weight: 300;
   }


   p {
     margin: 0 0 1.5em 0;
     border:4px inset #D4C8C8;
     padding-top: 2%;
     padding-right: 1%;
     padding-bottom: 2%;
     padding-left: 2%;
    background: #F9F0F0;
   }


   img {
     max-width: 100%;
     height: auto;
   }
/*cuerpo*/
   #main-content {
   background: white;
   border:3px inset #07fbe7;
   width: 90%;
   max-width: 900px;
   margin: 20px auto;
   box-shadow: 0 0 10px rgba(0,0,0,.1);
   padding: 40px;
   }

    #main-header {
     background: #A6A0A0;
     color: black;
     height: 50px;

     width: 100%;
     left: 0;
     top: 0;
     position: fixed;
   }

   /* menu*/

   p,div, span{
     line-height:1.5em;
   }

   .column-clear{
     clear:both;
   }
   .clear{
     overflow: hidden;
   }

   .cajamenu{
     width:100%;
     margin:0 auto;
   }


   nav{
     display:block;
   margin-top: -15px;
   background:#3E4156;
   }

   .menu{
     display:block;}

   .menu li{
     display: inline-block;
   position: relative;
   z-index:100;}

   .menu li:first-child{
     margin-left:0;}

   .menu li a {
     font-weight:600;
   text-decoration:none;
   padding:11px;
   display:block;
   color:#ffffff;
   }

   .menu li a:hover, .menu li:hover > a{			/*submenu*/
     color:#ffffff;
   background:#9CA3DA;
 }

   .menu ul {
   display: none;
   margin: 0;
   padding: 0;
   width: 150px;
   position: absolute;
   top: 43px;
   left: 0px;
   background: #ffffff;
   }

   .menu ul li {
   display:block;
   float: none;
   background:none;
   margin:0;
   padding:0;
   }

   .menu ul li a {
     font-size:12px;
   font-weight:normal;
   display:block;
   color:#797979;
   border-left:9px solid #ffffff;
   background:#ffffff;
 }

   .menu ul li a:hover, .menu ul li:hover > a{
   background:#f0f0f0;
   border-left:3px solid #9CA3DA;
   color:#797979;
   }

   .menu li:hover > ul{
     display: block;
   }
   .menu ul ul {
     left: 149px;
     top: 0px;
   }

   /*fin menu*/

           /*galeria de fotos*/
   .galeria {
           position: relative;
           border:2px inset #07fbe7;
           width: 100%; /* Ancho a ocupar por la galería sobre el total disponible */
           overflow: hidden;
           margin: 10px auto;
           background-color: #000;
           box-shadow: 1px 1px 6px #000;
    }
     .galeria:before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         background: url(https://s-media-cache-ak0.pinimg.com/564x/a2/a9/7c/a2a97c82e11c675f3b4edae0d5031fc0.jpg); /* Fondo por defecto */
         -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
         opacity: 50;
   }
   .imagen {
         position: relative;
         width: 15%;
         padding-bottom: 15%;
         background-position: 50% 50%;
         -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
         cursor: pointer;
   }

   .imagen:nth-of-type(1) {
         background-image: url(http://1.bp.blogspot.com/-1tXndwoFO3s/U7ZrvMnTWMI/AAAAAAAABDg/DLzlx5njAac/s1600/mirada-cachorro17.jpg);
   }
   .imagen:nth-of-type(2) {
         background-image: url(https://s-media-cache-ak0.pinimg.com/736x/d3/97/88/d39788f903382a30a00c8cb1351ac4c1.jpg);
   }
   .imagen:nth-of-type(3) {
         background-image: url(http://www.kissfm.es/wp-content/uploads/2015/12/ThinkstockPhotos-473915878.jpg);
   }
   .imagen:nth-of-type(4) {
         background-image: url(https://static.betazeta.com/www.veoverde.com/wp-content/uploads/2016/01/gato-mono-2.jpg);
   }

   .imagen:before {
         content: "";
         position: absolute;
         top: -700%; /* ((Nºimágenes*2)-1)*100*/
         left: 100%;
         width: 566%; /* (10000/ancho_imagen)-100 */
         height: 400%; /* Nºimagenes*100 */
         background-image: inherit;
         -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
         -moz-transition: all .8s ;-webkit-transition: all .8s ;transition: all .8s ;
   }
   .imagen:hover:nth-of-type(1):before {
         top: 0%; /* (Nº.nth-1)*(-100) */
   }
   .imagen:hover:nth-of-type(2):before {
       top: -100%; /* (Nº.nth-1)*(-100) */
   }
   .imagen:hover:nth-of-type(3):before {
       top: -200%; /* (Nº.nth-1)*(-100) */
   }
   .imagen:hover:nth-of-type(4):before {
       top: -300%; /* (Nº.nth-1)*(-100) */
   }
/*fin galeria*/
   .title{
     color: #E7CDCD;
     font-family: Helvetica, Arial, sans-serif;
     position: relative;
     font-size: 4.5em;
     font-style: italic;
     text-align:center;
     padding-top: 0px;
     margin-top: 0px;
     background: url(http://www.fondox.net/wallpapers/textura-fondo-azul-1573.jpg); /* Fondo por defecto */
   }

   .title_two{
   color: black;
   font-family: Helvetica, Arial, sans-serif;
   position: static;
   font-size: 2em;
   font-style: italic;
   line-height: 1.3em;
   text-decoration: underline;
   }
